body {
	background: #FFFFFF;
}

iframe {
		display: inline-block;
		width: 100%;
		height: 100vh;
		border: none;
	}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : landscape) {
	iframe {
		width: 1136px;
		height: 640px;
	}
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : portrait) {
	iframe {
		width: 640px;
		height: 1136px;
	}
}
